:root {
    --primary-color: #0277bd;
    --primary-color-dark: #015a94;
    --secondary-color: #ffc107;
    --accent-color: #d32f2f;
    --text-color: #fff;
    --secondary-text-color: #000;

    /* Fondo y bordes */
    --background-color: #f9f9f9;
    --background-color-secondary: #222021;
    --border-color: #ddd;

    /* Fuentes */
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;

    /* Espaciado */
    --small-spacing: 8px;
    --medium-spacing: 16px;
    --large-spacing: 32px;

    /* Tamaño de fuente */
    --font-size-title: 2rem;
    --font-size-paragraph: 1rem;
    --font-size-small: 0.875rem;

    /* Bordes redondeados y sombras */
    --border-radius: 5px;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    /* Tamaños */
    --max-width: 1200px;
}